body {
	background-color: #fff;
}

code {
    font-size: 1.1em;
    font-weight: bold;
}

.header {
    border: 3px double gray;
    margin-bottom: 20px;
    background-color: #dedede;
    padding: 10px;
}

.wrapper {
    width: 948px;
    margin: 0 auto;
}

.menu-link {
    color: black;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}

.menu {
    background-color: silver;
    border: 1px solid gray;
    display: flex;
    padding: 10px;
    list-style-type: none;
    justify-content: space-around;
}

.main-content {
    border: 3px double gray;
    background-color: #dedede;
    padding: 10px;
}

.menu-item {
    flex-grow: 1;
    margin: 0 8px;
}

.menu-link:hover {
    background-color: #888;
    color: white;
}

