body {
	background-color: rgb(244, 210, 250);
}

.header {
	padding-top: 20px;
	background-color: rgb(211, 176, 230);
}

code {
	font-size: 1.1em;
	font-weight: bold;
}

.wrapper {
	width: 948px;
	margin: 0 auto;
	background-color: rgb(250, 240, 255);
	border: 3px solid rgb(216, 176, 222);
}

.heading {
	padding-left: 10px;
	margin: 0;
}

.main-content {
	padding: 10px;
    margin-top: 0;
}

.intro {
	padding-left: 10px;
}

.menu {
    display: flex;
    padding: 10px;
    list-style-type: none;
    justify-content: space-around;
}

.menu-item {
    flex-grow: 1;
    margin: 0 8px;
}

.menu-link:hover {
    background-color: rgb(240, 219, 242);
    color: rgb(178, 75, 247);
}

.menu-link {
    background-color: rgb(173, 100, 237);
    color: rgb(0, 0, 0);
    padding: 15px 20px;  
    text-align: center;
    text-decoration: none;
    display: block;
}

.menu-link.current-page { 
    background-color: rgb(218, 176, 222);
    color: rgb(178, 75, 247);
}

